.fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/fondo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.tituloinicial {
    color: #2fd33d;
    text-align: center;
}

form {
    margin-top: 20px;
    text-align: center;
}

input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.login {
    background-color: #2fd33d;
    color: #fff;
    cursor: pointer;
}

.link-container {
    display: flex;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}
